openapi: 3.0.3
info:
  title: PDND Interoperability API
  x-summary: PDND Interoperability API
  version: "2.1.0"
  contact:
    name: API Support
    url: "https://github.com/pagopa/pdnd-interop-frontend/issues"
  termsOfService: "https://selfcare.interop.pagopa.it/ui/it/termini-di-servizio"
servers:
  - url: "https://api.interop.pagopa.it/v2"
    description: Production environment
security:
  - bearerAuth: []
tags:
  - name: clients
    description: Clients routes
  - name: attributes
    description: Attributes routes
  - name: agreements
    description: Agreements routes
  - name: eservices
    description: E-Services routes
  - name: keys
    description: Keys routes
  - name: purposes
    description: Purposes routes
  - name: tenants
    description: Tenants routes
  - name: delegations
    description: Delegations routes
  - name: eserviceTemplates
    description: E-Service Templates routes
  - name: health
    description: Verify service status
paths:
  /agreements:
    get:
      tags:
        - agreements
      summary: List Agreements
      description: Retrieve a list of Agreements based on filters
      operationId: getAgreements
      parameters:
        - in: query
          name: states
          description: Filter Agreements by states. If not specified, return Agreements in any state
          required: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AgreementState"
            default: []
          explode: false
        - in: query
          name: producerIds
          description: Filter Agreements by producer IDs. If not specified, return Agreements for any producer
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
            default: []
          explode: false
        - in: query
          name: consumerIds
          description: Filter Agreements by consumer IDs. If not specified, return Agreements for any consumer
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
            default: []
          explode: false
        - in: query
          name: descriptorIds
          description: Filter Agreements by Descriptor IDs. If not specified, return Agreements for any Descriptor
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
            default: []
          explode: false
        - in: query
          name: eserviceIds
          description: Filter Agreements by E-Service IDs. If not specified, return Agreements for any E-Service
          schema:
            type: array
            items:
              type: string
              format: uuid
            default: []
          explode: false
        - in: query
          name: offset
          description: Pagination starting position
          required: true
          schema:
            type: integer
            format: int32
            minimum: 0
        - in: query
          name: limit
          description: Maximum number of results to return
          required: true
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 50
      responses:
        "200":
          description: Agreements retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreements"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
    post:
      tags:
        - agreements
      summary: Create a new Agreement
      description: Create a new Agreement in Draft state
      operationId: createAgreement
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgreementSeed"
        required: true
      responses:
        "201":
          description: Agreement created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreement"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /agreements/{agreementId}:
    parameters:
      - name: agreementId
        in: path
        description: The ID of the Agreement
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - agreements
      summary: Retrieve an Agreement
      description: Retrieve an Agreement
      operationId: getAgreement
      responses:
        "200":
          description: Agreement retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreement"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
    delete:
      tags:
        - agreements
      summary: Delete an Agreement
      description: Delete an Agreement in Draft, Pending, or MissingCertifiedAttributes state
      operationId: deleteAgreement
      responses:
        "204":
          description: Agreement deleted
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /agreements/{agreementId}/purposes:
    parameters:
      - name: agreementId
        in: path
        description: The ID of the Agreement to retrieve purposes for
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - agreements
      summary: Retrieve purposes for an Agreement
      description: Retrieve purposes associated with an Agreement
      operationId: getAgreementPurposes
      parameters:
        - in: query
          name: limit
          description: Maximum number of results to return
          required: true
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 50
        - in: query
          name: offset
          description: Pagination starting position
          required: true
          schema:
            type: integer
            format: int32
            minimum: 0
      responses:
        "200":
          description: Purposes retrieved for the Agreement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Purposes"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /agreements/{agreementId}/approve:
    parameters:
      - schema:
          type: string
          format: uuid
        name: agreementId
        description: The ID of the Agreement to approve
        in: path
        required: true
    post:
      tags:
        - agreements
      summary: Approve an Agreement in Pending state
      description: Approve an Agreement that is in Pending state, transitioning it to Active state
      operationId: approveAgreement
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DelegationRef"
      responses:
        "200":
          description: Agreement approved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreement"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /agreements/{agreementId}/reject:
    parameters:
      - schema:
          type: string
          format: uuid
        name: agreementId
        description: The ID of the Agreement to reject
        in: path
        required: true
    post:
      tags:
        - agreements
      summary: Reject an Agreement in Pending state
      description: Reject an Agreement that is in Pending state, transitioning it to Rejected state
      operationId: rejectAgreement
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgreementRejection"
        required: true
      responses:
        "200":
          description: Agreement rejected
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreement"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /agreements/{agreementId}/submit:
    parameters:
      - schema:
          type: string
          format: uuid
        name: agreementId
        description: The ID of the Agreement to submit
        in: path
        required: true
    post:
      tags:
        - agreements
      summary: Submit an Agreement in Draft state
      description: Submit an Agreement that is in Draft state, transitioning it to Active state if all requirements are satisfied, to Pending otherwise
      operationId: submitAgreement
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgreementSubmission"
        description: payload for agreement submission
        required: true
      responses:
        "200":
          description: Draft agreement submitted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreement"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /agreements/{agreementId}/suspend:
    parameters:
      - schema:
          type: string
          format: uuid
        name: agreementId
        description: The ID of the Agreement to suspend
        in: path
        required: true
    post:
      tags:
        - agreements
      summary: Suspend an Agreement in Active or Suspended state
      description: |
        Suspend an Agreement that is in Active or Suspended state, transitioning it to Suspended state
        An Agreement may already be in Suspended state when previously suspended by the consumer or the producer
      operationId: suspendAgreement
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DelegationRef"
      responses:
        "200":
          description: Active agreement suspended
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreement"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /agreements/{agreementId}/unsuspend:
    parameters:
      - schema:
          type: string
          format: uuid
        name: agreementId
        description: The ID of the Agreement to unsuspend
        in: path
        required: true
    post:
      tags:
        - agreements
      summary: Unsuspend an Agreement in Suspended state
      description: |
        Unsuspend an Agreement that is in Suspended state, transitioning it to Active or Suspended state
        An Agreement may remain in Suspended state when suspended also by the consumer or the producer
      operationId: unsuspendAgreement
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DelegationRef"
      responses:
        "200":
          description: Agreement unsuspended
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreement"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /agreements/{agreementId}/upgrade:
    parameters:
      - name: agreementId
        in: path
        description: The ID of the Agreement to upgrade
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - agreements
      summary: Upgrade an Agreement
      description: |
        Upgrade the Agreement to a newer E-Service version, if available
        The current Agreement will be archived and a new Agreement will be created, in the same state
      operationId: upgradeAgreement
      responses:
        "200":
          description: Agreement upgraded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreement"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /agreements/{agreementId}/clone:
    parameters:
      - name: agreementId
        in: path
        description: The ID of the Agreement to clone
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - agreements
      summary: Clone an Agreement
      description: |
        Clone a rejected Agreement.
        A new draft Agreement will be created
      operationId: cloneAgreement
      responses:
        "200":
          description: Agreement cloned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreement"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /agreements/{agreementId}/consumerDocuments:
    parameters:
      - name: agreementId
        in: path
        description: The ID of the Agreement
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - agreements
      summary: Upload an Agreement Consumer Document
      description: Upload a Consumer Document for the specified Agreement
      operationId: uploadAgreementConsumerDocument
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/FileUploadMultipart"
        required: true
      responses:
        "201":
          description: Consumer document uploaded successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
    get:
      tags:
        - agreements
      summary: List Agreement Consumer Documents
      description: Retrieve a list of Consumer Documents for the specified Agreement
      operationId: getAgreementConsumerDocuments
      parameters:
        - in: query
          name: offset
          description: Pagination starting position
          required: true
          schema:
            type: integer
            format: int32
            minimum: 0
        - in: query
          name: limit
          description: Maximum number of results to return
          required: true
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 50
      responses:
        "200":
          description: Consumer documents retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Documents"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /agreements/{agreementId}/consumerDocuments/{documentId}:
    parameters:
      - name: agreementId
        in: path
        description: The ID of the Agreement
        required: true
        schema:
          type: string
          format: uuid
      - name: documentId
        in: path
        description: The ID of the Document to retrieve or delete
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - agreements
      summary: Download an Agreement Consumer Document
      description: Download a specific Consumer Document for the specified Agreement
      operationId: downloadAgreementConsumerDocument
      responses:
        "200":
          description: Consumer document retrieved, a multipart containing the file and its metadata
          content:
            multipart/form-data:
              schema:
                $ref: "#/components/schemas/FileDownloadMultipart"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
    delete:
      tags:
        - agreements
      summary: Delete an Agreement Consumer Document
      description: Delete a specific Consumer Document from the specified Agreement
      operationId: deleteAgreementConsumerDocument
      responses:
        "204":
          description: Consumer document deleted successfully
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /agreements/{agreementId}/contract:
    parameters:
      - name: agreementId
        in: path
        description: The ID of the Agreement
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - agreements
      summary: Download Agreement Consumer Contract
      description: Download the Consumer Contract for the specified Agreement
      operationId: downloadAgreementConsumerContract
      responses:
        "200":
          description: Consumer contract retrieved, a multipart containing the file and its metadata
          content:
            multipart/form-data:
              schema:
                $ref: "#/components/schemas/FileDownloadMultipart"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /consumerDelegations:
    get:
      tags:
        - delegations
      summary: List Consumer Delegations
      description: Retrieve a list of Consumer Delegations based on filters
      operationId: getConsumerDelegations
      parameters:
        - in: query
          name: states
          description: Filter Consumer Delegations by states. If not specified, return Consumer Delegations in any state
          required: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/DelegationState"
            default: []
          explode: false
        - in: query
          name: delegatorIds
          description: Filter Consumer Delegations by delegator IDs. If not specified, return Consumer Delegations for any delegator
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
            default: []
          explode: false
        - in: query
          name: delegateIds
          description: Filter Consumer Delegations by delegate IDs. If not specified, return Consumer Delegations for any delegate
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
            default: []
          explode: false
        - in: query
          name: eserviceIds
          description: Filter Consumer Delegations by E-Service IDs. If not specified, return Consumer Delegations for any E-Service
          schema:
            type: array
            items:
              type: string
              format: uuid
            default: []
          explode: false
        - in: query
          name: offset
          description: Pagination starting position
          required: true
          schema:
            type: integer
            format: int32
            minimum: 0
        - in: query
          name: limit
          description: Maximum number of results to return
          required: true
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 50
      responses:
        "200":
          description: Consumer Delegations retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsumerDelegations"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
    post:
      tags:
        - delegations
      summary: Create a new Consumer Delegation
      description: Create a new Consumer Delegation in Waiting for Approval state
      operationId: createConsumerDelegation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DelegationSeed"
        required: true
      responses:
        "201":
          description: Consumer Delegation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsumerDelegation"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /consumerDelegations/{delegationId}/accept:
    parameters:
      - name: delegationId
        in: path
        description: The ID of the Consumer Delegation to accept
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - delegations
      summary: Accept a Consumer Delegation in Waiting for Approval state
      description: Accept a Consumer Delegation that is in Waiting for Approval state, transitioning it to Active state
      operationId: acceptConsumerDelegation
      responses:
        "200":
          description: Consumer Delegation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsumerDelegation"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /producerDelegations:
    get:
      tags:
        - delegations
      summary: List Producer Delegations
      description: Retrieve a list of Producer Delegations based on filters
      operationId: getProducerDelegations
      parameters:
        - in: query
          name: states
          description: Filter Producer Delegations by states. If not specified, return Producer Delegations in any state
          required: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/DelegationState"
            default: []
          explode: false
        - in: query
          name: delegatorIds
          description: Filter Producer Delegations by delegator IDs. If not specified, return Producer Delegations for any delegator
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
            default: []
          explode: false
        - in: query
          name: delegateIds
          description: Filter Producer Delegations by delegate IDs. If not specified, return Producer Delegations for any delegate
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
            default: []
          explode: false
        - in: query
          name: eserviceIds
          description: Filter Producer Delegations by E-Service IDs. If not specified, return Producer Delegations for any E-Service
          schema:
            type: array
            items:
              type: string
              format: uuid
            default: []
          explode: false
        - in: query
          name: offset
          description: Pagination starting position
          required: true
          schema:
            type: integer
            format: int32
            minimum: 0
        - in: query
          name: limit
          description: Maximum number of results to return
          required: true
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 50
      responses:
        "200":
          description: Producer Delegations retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProducerDelegations"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
    post:
      tags:
        - delegations
      summary: Create a new Producer Delegation
      description: Create a new Producer Delegation in Waiting for Approval state
      operationId: createProducerDelegation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DelegationSeed"
        required: true
      responses:
        "201":
          description: Producer Delegation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProducerDelegation"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /producerDelegations/{delegationId}/accept:
    parameters:
      - name: delegationId
        in: path
        description: The ID of the Producer Delegation to accept
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - delegations
      summary: Accept a Producer Delegation in Waiting for Approval state
      description: Accept a Producer Delegation that is in Waiting for Approval state, transitioning it to Active state
      operationId: acceptProducerDelegation
      responses:
        "200":
          description: Producer Delegation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProducerDelegation"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /producerDelegations/{delegationId}/reject:
    parameters:
      - name: delegationId
        in: path
        description: The ID of the Producer Delegation to reject
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - delegations
      summary: Reject a Producer Delegation in Waiting for Approval state
      description: Reject a Producer Delegation that is in Waiting for Approval state, transitioning it to Rejected state
      operationId: rejectProducerDelegation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DelegationRejection"
        required: true
        description: Payload for delegation rejection
      responses:
        "200":
          description: Producer Delegation rejected
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProducerDelegation"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /certifiedAttributes:
    get:
      tags:
        - attributes
      summary: List Certified Attributes
      description: Retrieve a list of Certified Attributes with pagination
      operationId: getCertifiedAttributes
      parameters:
        - in: query
          name: offset
          description: Pagination starting position
          required: true
          schema:
            type: integer
            format: int32
            minimum: 0
        - in: query
          name: limit
          description: Maximum number of results to return
          required: true
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 50
      responses:
        "200":
          description: Certified Attributes retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertifiedAttributes"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
    post:
      tags:
        - attributes
      summary: Create a certified Attribute
      description: |
        Create a certified Attribute
        The Attribute must
          - have a unique name across all Attributes in the Platform
          - have a unique code across certified Attributes owned by the requester
      operationId: createCertifiedAttribute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CertifiedAttributeSeed"
      responses:
        "201":
          description: Certified Attribute created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertifiedAttribute"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /certifiedAttributes/{attributeId}:
    parameters:
      - name: attributeId
        in: path
        description: The ID of the Attribute to retrieve
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - attributes
      summary: Retrieve a certified Attribute
      description: Retrieve a certified Attribute
      operationId: getCertifiedAttribute
      responses:
        "200":
          description: Certified attribute retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertifiedAttribute"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
[...]
